<template>
  <DashboardLayout>
    <ArticleForm></ArticleForm>
  </DashboardLayout>
</template>

<script>
import DashboardLayout from '../../components/layout/DashboardLayout'
import ArticleForm from '../../components/article/ArticleForm'

export default {
  components: {
    DashboardLayout,
    ArticleForm,
  },
}
</script>
