<template>
	<DashboardLayout>
		<BaseModal :is-modal-open='isModalOpen' @closeModal='closeModal'>
			<template v-slot:header>Delete Article</template>
			<template v-slot:description>Are you sure to delete Article?</template>
			<template v-slot:deleteButton>
				<button
					@click='deleteArticle'
					class='w-full px-5 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg sm:w-auto sm:px-4 sm:py-2 active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-red'
				>Delete</button>
			</template>
		</BaseModal>

		<div class='container flex flex-col px-6 mx-auto'>
			<h2 class='mb-6 mt-24 sm:mt-6 text-2xl font-semibold text-gray-700'>All Posts</h2>

			<div
				v-if='isArticlesLoading'
				class='flex justify-center p-5 bg-white shadow-md rounded mb-16 mx-5'
			>
				<pulse-loader :loading='true' size='11px' color='#a0aec0'></pulse-loader>
			</div>
			<div v-else-if='articlesCount' class='w-full rounded-lg shadow-xs mb-10'>
				<div class='overflow-x-auto lg:overflow-x-visible bg-white'>
					<table class='table-fixed w-full'>
						<thead>
							<tr class='text-xs font-semibold tracking-wide text-left text-gray-500 border-b bg-gray-100'>
								<th class='w-20 lg:w-1/12 px-4 py-3'>#</th>
								<th class='w-64 lg:w-1/6 px-4 py-3'>Title</th>
								<th class='w-32 lg:w-1/6 px-4 py-3'>Author</th>
								<th class='w-64 lg:w-1/6 px-4 py-3'>Tags</th>
								<th class='w-64 lg:w-1/6 px-4 py-3'>Excerpt</th>
								<th class='w-32 lg:w-1/6 px-4 py-3'>Created</th>
								<th class='w-32 lg:w-2/12 px-4 py-3'></th>
							</tr>
						</thead>

						<tbody class='divide-y text-gray-700'>
							<tr v-for='(article, index) in articles' :key='article.slug'>
								<td class='px-4 py-3'>{{ (currentPageNumber - 1) * perPage + (index + 1) }}</td>
								<td class='px-4 py-3'>{{ article.title }}</td>
								<td class='px-4 py-3'>{{ article.author.username }}</td>
								<td class='px-4 py-3 text-xs'>
									<template
										v-if='article.tagList.length'
										class='mr-2 px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full'
									>
										<span
											v-for='(tag, index) in article.tagList'
											class='inline-block mr-1 mb-1 px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full'
										>{{ tag }}</span>
									</template>
									<span
										v-else
										class='px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full'
									>without tag</span>
								</td>
								<td class='px-4 py-3 text-sm'>{{ article.description }}</td>
								<td class='px-4 py-3 text-sm'>{{ article.createdAt | dateFormat }}</td>

								<td class='px-4 py-2'>
									<div class='dropdown inline-block relative'>
										<button
											class='text-white bg-teal-700 font-semibold py-2 px-4 rounded inline-flex items-center'
										>
											<span class='mr-3'>...</span>
											<svg
												class='fill-current h-4 w-4'
												xmlns='http://www.w3.org/2000/svg'
												viewBox='0 0 20 20'
											>
												<path d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z' />
											</svg>
										</button>
										<ul
											class='border border-gray-400 right-0 rounded dropdown-menu bg-white absolute hidden text-gray-900 z-10 w-40'
										>
											<li class='cursor-pointer border-b border-gray-400 rounded'>
												<a
													@click='editArticle(article.slug)'
													class='hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap'
												>Edit</a>
											</li>
											<li class='cursor-pointer'>
												<a
													@click='openModal(article)'
													class='hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap'
												>Delete</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<ArticlePagination
					:current-page-number='currentPageNumber'
					:per-page='perPage'
					:total-pages='totalPages'
				></ArticlePagination>
			</div>
			<div v-else class='flex justify-center p-5 bg-white shadow-md rounded'>
				<p>No records found.</p>
			</div>
		</div>
	</DashboardLayout>
</template>

<script>
	import DashboardLayout from "../../components/layout/DashboardLayout";
	import BaseModal from "../../components/ui/BaseModal";
	import ArticlePagination from "../../components/article/ArticlePagination";
	import ArticleService from "../../services/ArticleService";
	import PulseLoader from "vue-spinner/src/PulseLoader";
	import moment from "moment";

	export default {
		created() {
			if (this.$route.params.articleCreated || this.$route.params.articleEdited) {
				const text = this.$route.params.articleCreated ? "created" : "updated";
				this.$notify({
					group: "app",
					text: `Well done! Article ${text} successfuly.`,
					type: "success",
					duration: 5000,
				});
			}

			this.fetchArticles();
		},
		data() {
			return {
				perPage: 10,
				articles: [],

				articlesCount: 0,

				isModalOpen: false,

				deletingArticle: "",

				isArticlesLoading: false,
			};
		},
		computed: {
			currentPageNumber() {
				return parseInt(this.$route.params.pageNumber) || 1;
			},
			user() {
				return this.$store.state.auth.user;
			},
			totalPages() {
				return Math.ceil(this.articlesCount / this.perPage);
			},
		},
		watch: {
			currentPageNumber(newValue, oldValue) {
				this.fetchArticles();
			},
		},
		methods: {
			deleteArticle() {
				this.closeModal();

				ArticleService.deleteArticle(this.deletingArticle.slug).then(
					({ data }) => {
						this.fetchArticles();

						this.deletingArticle = null;
						this.$notify({
							group: "app",
							text: "Article deleted successfuly.",
							type: "success",
							duration: 5000,
						});
					}
				);
			},

			closeModal() {
				this.isModalOpen = false;
			},

			openModal(deletingArticle) {
				this.deletingArticle = deletingArticle;
				this.isModalOpen = true;
			},

			fetchArticles() {
				const offset = (this.currentPageNumber - 1) * this.perPage;

				this.isArticlesLoading = true;
				ArticleService.getArticles(this.user.username, this.perPage, offset)
					.then(({ data }) => {
						this.articles = data.articles;
						this.articlesCount = data.articlesCount;

						// Show 404 page if current page number is greater than total page number
						// Example: if user enter /articles/pages/5 but we just have 3 pages
						if (this.currentPageNumber > this.totalPages && this.totalPages > 0) {
							return this.$router.push({ name: "NotFound" });
						}
					})
					.catch((errors) => {
						this.showErrorsWithNotification(errors);
					})
					.finally(() => {
						this.isArticlesLoading = false;
					});
			},

			editArticle(slug) {
				this.$router.push({ name: "ArticleEdit", params: { slug: slug } });
			},
		},
		filters: {
			dateFormat(date) {
				return moment(date).format("MMM D ,YYYY");
			},
		},
		components: {
			DashboardLayout,
			BaseModal,
			ArticlePagination,
			PulseLoader,
		},
	};
</script>

<style scoped>
	.dropdown:hover .dropdown-menu {
		display: block;
	}
</style>
