<template>
  <ul class="flex flex-wrap justify-content items-center my-3 mx-4">
    <li>
      <button
        @click="openPrevPage"
        :class="{ 'cursor-not-allowed opacity-50': !isPrevPageExist }"
        class="hover:bg-gray-400 w-10 h-10 mx-1 my-1 bg-gray-300 px-3 py-1 rounded-md focus:outline-none"
        aria-label="Previous"
      >
        <svg
          class="w-4 h-4 fill-current"
          aria-hidden="true"
          viewBox="0 0 20 20"
        >
          <path
            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
            clip-rule="evenodd"
            fill-rule="evenodd"
          />
        </svg>
      </button>
    </li>

    <li v-for="pageNumber in totalPages">
      <button
        @click="openPage(pageNumber)"
        :class="{
          'bg-gray-600 hover:bg-gray-600 text-white':
            currentPageNumber === pageNumber,
        }"
        class="bg-gray-300 hover:bg-gray-400 w-10 h-10 mx-1 my-1 px-3 py-1 rounded-md focus:outline-none"
      >
        {{ pageNumber }}
      </button>
    </li>

    <li>
      <button
        @click="openNextPage"
        :class="{ 'cursor-not-allowed opacity-50': !isNextPageExist }"
        class="hover:bg-gray-400 w-10 h-10 mx-1 my-1 bg-gray-300 px-3 py-1 rounded-md focus:outline-none"
        aria-label="Next"
      >
        <svg
          class="w-4 h-4 fill-current"
          aria-hidden="true"
          viewBox="0 0 20 20"
        >
          <path
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
            fill-rule="evenodd"
          />
        </svg>
      </button>
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    currentPageNumber: {
      type: Number,
      required: true,
    },
    perPage: {
      type: Number,
      required: true,
    },
    totalPages: {
      type: Number,
      required: true,
    },
  },
  computed: {
    isNextPageExist() {
      return this.currentPageNumber !== this.totalPages
    },
    isPrevPageExist() {
      return this.currentPageNumber > 1
    },
  },
  methods: {
    openPage(pageNumber) {
      if (pageNumber === this.currentPageNumber) return
      this.$router.push(`/articles/page/${pageNumber}`)
    },
    openNextPage() {
      if (this.isNextPageExist) {
        this.$router.push(`/articles/page/${this.currentPageNumber + 1}`)
      }
    },
    openPrevPage() {
      if (this.isPrevPageExist) {
        this.$router.push(`/articles/page/${this.currentPageNumber - 1}`)
      }
    },
  },
}
</script>
