<template>
	<div class="container flex flex-col px-6 mx-auto">
		<h2
			class="mb-6 mt-24 sm:mt-6 text-2xl font-semibold text-gray-700"
		>{{ isEditing ? 'Edit Article' : 'New Article' }}</h2>

		<div class="flex flex-col sm:flex-row p-5 bg-white shadow-md rounded">
			<form @submit.prevent="submitArticle" class="w-full">
				<div class="flex flex-col sm:flex-row">
					<div class="flex-1 p-3 pb-0 sm:pb-3">
						<template v-if="isArticleLoading">
							<PulseLoader :loading="isArticleLoading" size="9px" color="#a0aec0"></PulseLoader>
						</template>
						<template v-else>
							<div class="mb-4">
								<label :class="{ 'text-red-600': $v.title.$error }" class="text-gray-900" for="title">Title</label>
								<input
									v-model.trim="$v.title.$model"
									@blur="$v.title.$touch()"
									:class="{ 'border-red-600': $v.title.$error }"
									id="title"
									class="input mt-1 w-full"
									type="text"
								/>

								<div v-if="$v.title.$error" class="text-red-600">
									<span v-if="!$v.title.required" class="mt-1">Required field</span>
								</div>
							</div>

							<div class="mb-4">
								<label
									:class="{ 'text-red-600': $v.description.$error }"
									class="text-gray-900"
									for="description"
								>Description</label>

								<input
									v-model.trim="$v.description.$model"
									@blur="$v.description.$touch()"
									:class="{ 'border-red-600': $v.description.$error }"
									id="description"
									class="input mt-1 w-full"
									type="text"
								/>

								<div v-if="$v.description.$error" class="text-red-600">
									<span v-if="!$v.description.required" class="mt-1">Required field</span>
								</div>
							</div>

							<div class="mb-2">
								<label :class="{ 'text-red-600': $v.body.$error }" class="text-gray-900" for="body">Body</label>

								<textarea
									v-model.trim="$v.body.$model"
									@blur="$v.body.$touch()"
									:class="{ 'border-red-600': $v.body.$error }"
									id="body"
									class="resize-y input mt-1 w-full"
									rows="7"
									style="height: auto"
								></textarea>

								<div v-if="$v.body.$error" class="text-red-600">
									<span v-if="!$v.body.required" class="mt-1">Required field</span>
								</div>
							</div>

							<BaseButton
								:loading="isSubmitButtonLoading"
								classes="hidden sm:inline-block py-2 mt-2 w-auto"
							>Submit</BaseButton>
						</template>
					</div>

					<div class="flex-1 p-3 pt-0 sm:pt-3">
						<div class="mb-4">
							<label class="text-gray-900" for="newTag">Tags</label>
							<input
								@keydown.enter.prevent="addNewTag"
								v-model="newTag"
								id="newTag"
								class="input mt-1 w-full"
								type="text"
								placeholder="New tag"
							/>
						</div>

						<div class="p-4 border border-solid border-gray-400 rounded">
							<PulseLoader :loading="isTagsLoading" size="9px" color="#a0aec0"></PulseLoader>
							<ul v-if="!isTagsLoading">
								<li v-for="tag in sortedTags">
									<label class="flex items-center text-gray-500 mb-3">
										<input v-model="selectedTags" :value="tag" class="mr-2 w-4 h-4" type="checkbox" />
										<span class>{{ tag }}</span>
									</label>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<BaseButton :loading="isSubmitButtonLoading" classes="sm:hidden m-3">Submit</BaseButton>
			</form>
		</div>
	</div>
</template>

<script>
	import ArticleService from '../../services/ArticleService'
	import { characterMixin } from '../../mixin/characterMixin'
	import { required, minLength } from 'vuelidate/lib/validators'
	import PulseLoader from 'vue-spinner/src/PulseLoader'

	export default {
		mixins: [characterMixin],
		created() {
			if (this.isEditing) this.fetchArticle()

			this.fetchTags()
		},
		data() {
			return {
				tags: [],
				selectedTags: [],
				newTag: '',

				title: '',
				description: '',
				body: '',

				isSubmitButtonLoading: false,
				isArticleLoading: false,
				isTagsLoading: false,
			}
		},
		computed: {
			isEditing() {
				return this.$route.name === 'ArticleEdit'
			},
			sortedTags() {
				return this.tags.sort(function (a, b) {
					a = a.toLowerCase()
					b = b.toLowerCase()
					if (a == b) return 0
					return a < b ? -1 : 1
				})
			},
			articleSlug() {
				return this.isEditing ? this.$route.params.slug : null
			},
		},
		methods: {
			submitArticle() {
				this.$v.$touch()
				if (this.$v.$invalid) return

				const article = {
					article: {
						title: this.title,
						description: this.description,
						body: this.body,
						tagList: this.selectedTags.length ? this.selectedTags : null,
					},
				}

				this.isSubmitButtonLoading = true

				if (this.isEditing) this.updateArticle(article)
				if (!this.isEditing) this.createArticle(article)
			},
			createArticle(article) {
				ArticleService.createArticle(article)
					.then(({ data }) => {
						this.$router.push({
							name: 'Articles',
							params: { articleCreated: true },
						})
					})
					.finally(() => {
						this.isSubmitButtonLoading = false
					})
			},
			updateArticle(article) {
				ArticleService.updateArticle(this.articleSlug, article)
					.then(({ data }) => {
						this.$router.push({
							name: 'Articles',
							params: { articleEdited: true },
						})
					})
					.finally(() => {
						this.isSubmitButtonLoading = false
					})
			},
			addNewTag() {
				if (!this.newTag.trim()) return

				this.tags.push(this.newTag)
				this.selectedTags.push(this.newTag)
				this.newTag = ''
			},
			fetchArticle() {
				this.isArticleLoading = true
				ArticleService.getArticle(this.articleSlug)
					.then(({ data }) => {
						this.title = data.article.title
						this.description = data.article.description
						this.body = data.article.body
						this.selectedTags = data.article.tagList
						this.tags = [...new Set([...this.tags, ...this.selectedTags])]
					})
					.finally(() => {
						this.isArticleLoading = false
					})
			},
			fetchTags() {
				this.isTagsLoading = true
				ArticleService.getTags()
					.then(({ data }) => {
						const removedNonAsciiTags = this.removeNonAsciiFromArray(data.tags) // Remove non ascii characters from Tags
						this.tags = [
							...new Set([...removedNonAsciiTags, ...this.selectedTags]), // Remove duplicate items and set it to tags
						]
					})
					.finally(() => {
						this.isTagsLoading = false
					})
			},
		},
		components: {
			PulseLoader,
		},
		validations: {
			title: {
				required,
				minLength: minLength(1),
			},
			description: {
				required,
			},
			body: {
				required,
				minLength: minLength(1),
			},
		},
	}
</script>
