.vue-notification {
  padding: 10px;
  margin: 0.8rem 1.5rem 0 0;

  font-size: 0.9rem;

  color: #ffffff;
  background: #44a4fc;
  border-left: 5px solid #187fe7;
  border-radius: 5px;

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    background: #e54d42;
    border-left-color: #b82e24;
  }

  &.success {
    background: #68cd86;
    border-left-color: #42a85f;
  }
}
