<template>
  <div>
    <main class="container mx-auto">
      <div class="h-screen flex justify-center items-center">
        <div
          class="flex flex-col items-center bg-gray-300 rounded-md pb-4 pt-6 px-6 md:px-8 lg:px-6 w-11/12 sm:w-8/12 max-w-md"
        >
          <h2 class="text-gray-700 text-4xl">
            <slot name="name">Auth</slot>
          </h2>

          <slot></slot>
        </div>
      </div>
    </main>
  </div>
</template>
