<template>
  <main class="h-full bg-gray-100">
    <div class="flex flex-col">
      <DashboardNavbar />

      <div class="flex">
        <DashboardSidebar />
        <slot></slot>
      </div>
    </div>
  </main>
</template>

<script>
import DashboardNavbar from '../../components/dashboard/DashboardNavbar'
import DashboardSidebar from '../../components/dashboard/DashboardSidebar'

export default {
  components: {
    DashboardNavbar,
    DashboardSidebar,
  },
  computed: {
    isSideMenuOpen() {
      return this.$store.state.isSideMenuOpen
    },
  },
}
</script>
