<template>
	<div class="flex min-h-screen bg-gray-100 mt-1">
		<!-- Desktop Sidebar -->
		<aside class="z-20 flex-shrink-0 hidden w-64 overflow-y-auto bg-white lg:block">
			<h4 class="text-xl pt-5 pl-5">Posts</h4>

			<div class="py-4 text-gray-500">
				<ul>
					<router-link
						tag="li"
						:to="{ name: 'Articles' }"
						exact-active-class="text-gray-900"
						:class="{ 'text-gray-900': $route.params.pageNumber }"
						class="relative px-8 py-3"
					>
						<a
							class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800"
							href="#"
						>
							<svg viewBox="0 0 20 20" fill="currentColor" class="table w-6 h-6">
								<path
									fill-rule="evenodd"
									d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="ml-4">All Articles</span>
						</a>
					</router-link>
					<router-link
						tag="li"
						:to="{ name: 'ArticleCreate' }"
						exact-active-class="text-gray-900"
						class="relative px-8 py-3"
					>
						<a
							class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800"
							href="#"
						>
							<svg viewBox="0 0 20 20" fill="currentColor" class="pencil-alt w-6 h-6">
								<path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
								<path
									fill-rule="evenodd"
									d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="ml-4">New Article</span>
						</a>
					</router-link>
				</ul>
			</div>
		</aside>

		<!-- Backdrop -->
		<div
			v-show="isSideMenuOpen"
			class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"
		></div>
		<!-- Mobile Sidebar -->
		<aside
			v-on-clickaway="closeSideMenu"
			v-if="isSideMenuOpen"
			class="fixed inset-y-0 z-20 flex-shrink-0 w-64 mt-16 overflow-y-auto bg-white lg:hidden"
		>
			<div class="py-4 text-gray-500">
				<ul>
					<router-link
						@click.native="closeSideMenu"
						tag="li"
						:to="{ name: 'Articles' }"
						exact-active-class="text-gray-900"
						class="relative px-8 py-3"
					>
						<a
							class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800"
							href="#"
						>
							<svg viewBox="0 0 20 20" fill="currentColor" class="table w-6 h-6">
								<path
									fill-rule="evenodd"
									d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="ml-4">All Articles</span>
						</a>
					</router-link>
					<router-link
						@click.native="closeSideMenu"
						tag="li"
						:to="{ name: 'ArticleCreate' }"
						exact-active-class="text-gray-900"
						class="relative px-8 py-3"
					>
						<a
							class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800"
							href="#"
						>
							<svg viewBox="0 0 20 20" fill="currentColor" class="pencil-alt w-6 h-6">
								<path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
								<path
									fill-rule="evenodd"
									d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="ml-4">New Article</span>
						</a>
					</router-link>
				</ul>
			</div>
		</aside>
	</div>
</template>

<script>
	import { mixin as clickaway } from 'vue-clickaway'

	export default {
		mixins: [clickaway],

		computed: {
			isSideMenuOpen() {
				return this.$store.state.isSideMenuOpen
			},
		},

		methods: {
			closeSideMenu() {
				this.$store.dispatch('toggleSideMenu')
			},
		},
	}
</script>
