<template>
  <nav class="z-20 py-4 bg-white shadow fixed sm:static right-0 left-0">
    <div class="flex justify-between items-center h-full px-6 mx-auto">
      <div class="flex items-center">
        <button
          @click="toggleSideMenu"
          class="p-1 mr-5 -ml-1 rounded-md lg:hidden focus:outline-none focus:shadow-outline-purple"
          aria-label="Menu"
        >
          <svg
            viewBox="0 0 20 20"
            fill="currentColor"
            class="menu-alt2 w-6 h-6"
          >
            <path
              fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
        <h2 class="text-xl">Arvan Challenge</h2>
        <span class="hidden sm:block ml-5">Welcome {{ user.username }}</span>
      </div>

      <button
        @click="logout"
        class="border border-solid border-blue-800 rounded text-blue-800 hover:bg-blue-800 hover:text-white py-1 px-3"
      >
        Logout
      </button>
    </div>
  </nav>
</template>

<script>
export default {
  computed: {
    user() {
      return this.$store.state.auth.user
    },
  },
  methods: {
    toggleSideMenu() {
      this.$store.dispatch('toggleSideMenu')
    },
    logout() {
      this.$store.dispatch('logout')
    },
  },
}
</script>
