<template>
  <div id="app">
    <notifications
      classes="vue-notification"
      group="app"
      position="top right"
    />
    <router-view />
  </div>
</template>

<script>
export default {}
</script>
