<template>
  <AuthLayout>
    <template v-slot:name>Login</template>
    <form @submit.prevent="login" class="w-full">
      <div class="mt-4">
        <label
          :class="{ 'text-red-600': $v.email.$error }"
          class="text-gray-900"
          for="email"
          >Email</label
        >

        <input
          v-model.trim="$v.email.$model"
          @blur="$v.email.$touch()"
          :class="{ 'border-red-600': $v.email.$error }"
          class="input mt-1 w-full"
          id="email"
          type="email"
        />

        <div v-if="$v.email.$error" class="text-red-600">
          <p v-if="!$v.email.required" class="mt-1">Required field</p>
          <p v-if="!$v.email.email" class="mt-1">Invalid email</p>
        </div>
      </div>

      <div class="mt-5">
        <label
          :class="{ 'text-red-600': $v.password.$error }"
          class="text-gray-900"
          for="password"
          >Password</label
        >

        <input
          v-model.trim="$v.password.$model"
          @blur="$v.password.$touch()"
          :class="{ 'border-red-600': $v.password.$error }"
          class="input mt-1 w-full"
          id="password"
          type="password"
        />

        <div v-if="$v.password.$error" class="text-red-600">
          <span v-if="!$v.password.required" class="mt-1">Required field</span>
        </div>
      </div>

      <BaseButton :loading="isLoginButtonLoading" classes="w-full"
        >Login</BaseButton
      >

      <div class="flex mt-4 text-gray-900">
        <span>Don't have account?</span>
        <router-link :to="{ name: 'Register' }" class="ml-3 font-bold"
          >Register Now</router-link
        >
      </div>
    </form>
  </AuthLayout>
</template>

<script>
import AuthLayout from '../../components/layout/AuthLayout'
import { required, email } from 'vuelidate/lib/validators'

export default {
  data() {
    return {
      email: '',
      password: '',
      isLoginButtonLoading: false,
    }
  },
  methods: {
    login() {
      this.$v.$touch()
      if (this.$v.$invalid) return // return if client validations are invalid

      this.isLoginButtonLoading = true
      this.$store
        .dispatch('login', {
          user: {
            email: this.email,
            password: this.password,
          },
        })
        .then(() => {
          this.$router.push({ name: 'Articles' })
        })
        .catch((errors) => {
          this.showErrorsWithNotification(errors)
          this.password = ''
        })
        .finally(() => {
          this.isLoginButtonLoading = false
        })
    },
  },
  components: {
    AuthLayout,
  },
  validations: {
    email: {
      required,
      email,
    },
    password: {
      required,
    },
  },
}
</script>
