<template>
  <AuthLayout>
    <template v-slot:name>Register</template>
    <form @submit.prevent="register" class="w-full">
      <div class="mt-5">
        <label
          :class="{ 'text-red-600': $v.user.$error }"
          class="text-gray-900"
          for="user"
          >Username</label
        >

        <input
          v-model.trim="$v.user.$model"
          @blur="$v.user.$touch()"
          :class="{ 'border-red-600': $v.user.$error }"
          class="input mt-1 w-full"
          id="user"
          type="text"
        />

        <div v-if="$v.user.$error" class="text-red-600">
          <p v-if="!$v.user.required" class="mt-1">Required field</p>
        </div>
      </div>

      <div class="mt-4">
        <label
          :class="{ 'text-red-600': $v.email.$error }"
          class="text-gray-900"
          for="email"
          >Email</label
        >

        <input
          v-model.trim="$v.email.$model"
          @blur="$v.email.$touch()"
          :class="{ 'border-red-600': $v.email.$error }"
          class="input mt-1 w-full"
          id="email"
          type="email"
        />

        <div v-if="$v.email.$error" class="text-red-600">
          <p v-if="!$v.email.required" class="mt-1">Required field</p>
          <p v-if="!$v.email.email" class="mt-1">Invalid email</p>
        </div>
      </div>

      <div class="mt-5">
        <label
          :class="{ 'text-red-600': $v.password.$error }"
          class="text-gray-900"
          for="password"
          >Password</label
        >

        <input
          v-model.trim="$v.password.$model"
          @blur="$v.password.$touch()"
          :class="{ 'border-red-600': $v.password.$error }"
          class="input mt-1 w-full"
          id="password"
          type="password"
        />

        <div v-if="$v.password.$error" class="text-red-600">
          <p v-if="!$v.password.required" class="mt-1">Required field</p>
          <p v-if="!$v.password.minLength" class="mt-1">
            Password is too short (minimum is 8 characters)
          </p>
        </div>
      </div>

      <BaseButton :loading="isRegisterButtonLoading" classes="w-full"
        >Register</BaseButton
      >

      <div class="flex mt-4 text-gray-600">
        <span class="text-gray-900">Already Registered?</span>

        <router-link
          :to="{ name: 'Login' }"
          class="text-gray-900 ml-3 lg:mt-0 font-bold"
          >Login</router-link
        >
      </div>
    </form>
  </AuthLayout>
</template>

<script>
import AuthLayout from '../../components/layout/AuthLayout'
import { required, email, minLength } from 'vuelidate/lib/validators'

export default {
  data() {
    return {
      user: '',
      email: '',
      password: '',
      isRegisterButtonLoading: false,
    }
  },
  methods: {
    register() {
      this.$v.$touch()
      if (this.$v.$invalid) return // return if client validations are invalid

      this.isRegisterButtonLoading = true
      this.$store
        .dispatch('register', {
          user: {
            username: this.user,
            email: this.email,
            password: this.password,
          },
        })
        .then(() => {
          this.$router.push({ name: 'Articles' })
        })
        .catch((errors) => {
          this.showErrorsWithNotification(errors)
        })
        .finally(() => {
          this.isRegisterButtonLoading = false
        })
    },
  },
  components: {
    AuthLayout,
  },
  validations: {
    user: {
      required,
    },
    email: {
      required,
      email,
    },
    password: {
      required,
      minLength: minLength(8),
    },
  },
}
</script>
