<template>
  <button :disabled="loading" :class="mergedClasses" class="btn" type="submit">
    <pulse-loader
      v-if="loading"
      :loading="true"
      size="8px"
      color="#ffffff"
    ></pulse-loader>
    <slot v-else>Submit</slot>
  </button>
</template>

<script>
import PulseLoader from 'vue-spinner/src/PulseLoader'

export default {
  props: {
    loading: {
      type: Boolean,
      required: true,
    },
    classes: {
      type: String,
      default: '',
    },
  },
  computed: {
    mergedClasses() {
      return `${this.classes} ${
        this.loading ? 'cursor-not-allowed opacity-75' : ''
      }`
    },
  },
  components: {
    PulseLoader,
  },
}
</script>
